PORT=5555
TARGET_API_URL=https://www.gfiotsolutions.com/api/sensordata
GOOGLE_APPLICATION_CREDENTIALS=./ricemill-app-xyz8-firebase-adminsdk-fbsvc-4431d5552f.json
MONGODB_URI=mongodb://<AWS_DB_IP>:27017/ricemill
